# 1. アプリからのアクセス用 (ポート 6543 + PgBouncer)
DATABASE_URL="postgres://postgres.my-project:my_password@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# 2. Prisma db push / マイグレーション用 (ポート 5432 直接接続)
DIRECT_URL="postgresql://postgres:my_password@db.my-project.supabase.co:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL=https://my-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=my_supabase_anon_key

SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=my_google_client_id
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET=my_google_client_secret

GEMINI_API_KEY="my_gemini_api_key"